POSTGRES_DB=thief
POSTGRES_USER=thief
POSTGRES_PASSWORD=thief_local
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=thief
RABBITMQ_DEFAULT_PASS=thief_local
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MINIO_ROOT_USER=thief
MINIO_ROOT_PASSWORD=thief_local
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
